{% extends 'base.html.twig' %}

{% block title %}Edit UserProfile{% endblock %}

{% block body %}
    <h1>Edit UserProfile</h1>

    {{ include('user_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_profile_index') }}">back to list</a>

    {{ include('user_profile/_delete_form.html.twig') }}
{% endblock %}
